Source: hvml-purc-fetcher
Section: libs
Priority: optional
Maintainer: Vincent Wei <vincent@minigui.org>
Build-Depends: debhelper (>= 11), cmake, libgcrypt20-dev, ruby-dev, openjdk-11-jdk, libsqlite3-dev, python3-dev, libicu-dev, libglib2.0-dev, libcurl4, libxml2-dev, libsoup2.4-dev, libssl-dev, pkg-config, zlib1g-dev
Standards-Version: 4.1.3
Homepage: https://github.com/HVML/hvml-purc-fetcher

Package: hvml-purc-fetcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PurC Fetcher is a remote data fetcher for PurC. 
